.App {
  text-align: left;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
/*  cursor: pointer; */
}

.selectFile input {
  background: #C94D46;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.slider input {
    width: 80%;
/*  width: 60%; */
  margin: auto;
  cursor: pointer;
}
.shortSlider input {
  width: 60%;
  margin: auto;
  cursor: pointer;
}

.addClicks button {
  background: #C94D46;
  padding: 8px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 80px;
/*  width: 60px; */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.tiny-button button {
  cursor: pointer;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  border-radius: 5px;
  font-size: 10px;
  background: #00ff;
  padding: 1px;
  color: #ffffff;
}

.small-button button {
  background: #0000ff;
  padding: 8px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 60px;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.selector select {
  cursor: pointer;
}

.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}
.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #333;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
}
.text-divider::after {
  margin-left: var(--text-divider-gap);
}
